<launch>
  <arg name="voxblox_path" default="/home/helen/data/jfr_2018/machine_hall/voxblox/rs_esdf_0.10.voxblox" />

  <node name="ExplorationComparator" pkg="map_frontiers" type="ExplorationComparator" output="screen">
    <param name="voxblox_path" value="$(arg voxblox_path)" />
    <param name="groundtruth_path"           value="/root/.ros/log/maps/groundtruth/$(env WORLD)_groundtruth.tsdf"/>
    <param name="voxel_size" type="double" command="rosparam get /voxel_size" />
    <param name="occ_voxel_size" type="double" command="rosparam get /voxel_size" />
    <param name="tsdf_voxel_size" type="double" command="rosparam get /voxel_size" />
    <param name="esdf_voxel_size" type="double" command="rosparam get /voxel_size" />
    <param name="voxels_per_side" type="int" command="rosparam get /voxels_per_side" />
    <param name="occ_voxels_per_side" type="int" command="rosparam get /voxels_per_side" />
    <param name="tsdf_voxels_per_side" type="int" command="rosparam get /voxels_per_side" />
    <param name="esdf_voxels_per_side" type="int" command="rosparam get /voxels_per_side" />
    <param name="publish_traversable" value="true"/>
    <param name="publish_pointclouds" value="true"/>
    <param name="publish_tsdf_map" value="true"/>
    <param name="publish_esdf_map" value="true"/>
    <!-- where to logs results -->
    <param name="log_dir" value="/root/.ros/log/$(env LOGGING_FOLDER)/csv/" />
    <param name="logfilename"           value="explored_voxels_overtime_$(env WORLD)_$(env RUN_ID).txt"/>
  </node>

</launch>
